<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Informe de Inventario</title>
</head>
<body>
    <h1>Informe de Inventario</h1>
    <table border="1" style="width: 100%; border-collapse: collapse;">
        <thead>
            <tr>
                <th>Producto</th>
                <th>Stock</th>
                <th>Precio</th>
                <th>Ubicación</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
            <tr>
                <td>{{ producto.nom_producto }}</td>
                <td>{{ producto.stock }}</td>
                <td>{{ producto.precio }}</td>
                <td>{{ producto.ubicacion }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
